.aboutConventionLogo {
    flex: 0 0 250px;
    background-color: white;
    max-width: 250px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
}

#convention {
    background: url("../Images/conference-event.webp") center/cover no-repeat;
}

#convention h1 {
    font-size: 1.4rem;
    color:black;
}

#convention h2 {
    color: #3a2f2f;
    font-size: 2.5rem;
}

#convention h3 {
    color:black;
    font-size: 2rem;
}

#signUpSection {
    margin-top: 5rem;
}

#signUpSection form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signUpSection input {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: block;
    width: 50%;
}

@media screen and (max-width: 600px)
{
    #signUpSection input {
        width: 100%;
    }
}