.action-steps ul {
    display: flex;
    list-style-type: none;
    margin-top: 1rem;
}

.action-steps ul li {
    margin: 1rem;
    width: 30%;

    display: flex;
    flex-direction: column;

    background-color: white;
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 25px;
}

.action-steps h3 {
    color:#a81e1e;
    margin: 1rem 0;
}


.location-disclaimer a:link, .location-disclaimer a:visited, .faq-section a:link, .faq-section a:visited{
    color:#a81e1e;
}

.location-disclaimer a:active, .faq-section a:active {
    color:#3e0b0b;
}



@media screen and (max-width: 800px)
{ 
    .action-steps ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .action-steps ul li {
        width: 100%;
    }
}
